h2 Configuration
ul
    li
        p
            label Root cache path:
            div= options.cacheRoot
    li
        p
            label Map sources path:
            div= options.mapSourcesPath
    li
        p
            label Tile matrix sets path:
            div= options.tileMatrixSetsPath
    li
        p
            label Layers path:
            div= options.layersPath