extends layout

block content
    <img src="images/Banner-Logo.jpg" alt="PortableWmtsServer banner" class="img-responsive" />

    .row
        .col-md-12
            include partials/home/layers

    .row
        .col-md-4
            include partials/home/configuration 

        .col-md-4
            include partials/home/tile-matrix-sets

        .col-md-4
            include partials/home/mime-types
